.trip-view-container {
  box-sizing: border-box;
  padding: 20px 20px 50px 20px;
}
.trip-view-container .trip-view-header {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.trip-view-container .trip-view-header h2 {
  font-weight: 300;
  font-size: 38px;
  margin: 0px;
}
.trip-view-container .trip-view-header h5 {
  margin: 5px 0px;
  font-size: 31px;
  color: #02bcd4;
}
.trip-view-container .trip-view-header .reviewer {
  font-size: 14px;
  margin-bottom: 10px;
}
.trip-view-container .trip-view-header .reviewer span {
  font-weight: 500;
}
.trip-view-container .trip-view-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}
.trip-view-container .trip-view-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.trip-view-container .trip-view-box .left {
  min-width: 50%;
  background: #e91e63;
  color: #fff;
  box-sizing: border-box;
  padding: 15px;
  font-weight: 300;
  font-size: 20px;
}
.trip-view-container .trip-view-box .left div {
  padding: 7px;
  box-sizing: border-box;
}
.trip-view-container .trip-view-box .left div span {
  font-weight: 700;
}
.trip-view-container .trip-view-box .right {
  flex-grow: 1;
  height: 106px;
  background: #3c3c3c;
  color: #fff;
  font-weight: 700;
  padding: 21px 15px;
  box-sizing: border-box;
  text-align: center;
}
.trip-view-container .trip-view-box .right div {
  font-size: 40px;
  font-weight: 300;
}

.trip-view-container .editor-toolbar {
  display: none;
}
