.better-clock {
  border: 1px solid gray;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;

  &__time {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  &__toggle {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-bottom: 10px;

    &:hover {
      background-color: #0056b3;
    }

    &.visible {
      display: block;
    }

    &.hidden {
      display: block;
    }
  }
}
