.edit-contact {
  margin-top: 20px;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 10px;
    padding: 5px;
    width: 20%;
    box-sizing: border-box;
  }

  button {
    margin-right: 10px;
  }
}
