// TodoForm.scss

.todo-form {
  margin-top: 20px; // Add spacing as needed
  text-align: center;

  input {
    width: 30%;
    margin-left: 20px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}
