<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form class="user">
              <div class="form-group">
                <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                  placeholder="Email Address">
              </div>
              <div class="email invalid-feedback d-inline"></div>
              <div class="form-group">
                <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                  placeholder="Password" name="password">
                <div class="password invalid-feedback d-inline"></div>
              </div>
              <button class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.invalid-feedback')
  const passwordError = document.querySelector('.password.invalid-feedback')

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    emailError.textContent = '';
    passwordError.textContent = '';

    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/users/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: { 'Content-Type': 'application/json' }
      });

      const data = await res.json();
      console.log(data)
      if (data.user) {
        location.assign('/auth-page')
      }
      if (data.errors) {
        emailError.textContent = data.errors.email
        passwordError.textContent = data.errors.password
      }
    } catch (error) {
      console.log(error)

    }
  })
</script>