.home-container .loadmore {
  background: #00bcd4;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  padding: 20px;
  font-weight: 500;
  cursor: pointer;
}
.home-container .empty-view-wrapper {
  padding: 75px 0;
}
.home-container .loadmore:hover {
  background: #009eb3;
  transform: scale(1.05);
}
.home-container .loadmore:active {
  background: #0495a8;
  transform: scale(1.01);
}
