.add-review-container {
  text-align: center;
}
.add-review-container .form_element {
  margin-top: 20px;
}
.add-review-container .title {
  font-size: 33px;
  font-weight: 300;
  color: #02bcd4;
}
.add-review-container .form-input {
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  padding: 11px 31px;
  background: #f7f7f7;
  font-weight: 300;
  width: 80%;
}
.add-review-container .label {
  display: block;
  text-align: left;
  margin-left: 10%;
  color: #02bcd4;
  font-size: 21px;
  margin-bottom: 3px;
}
.add-review-container textarea {
  background: #f7f7f7;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
}
.add-review-container .add-button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 52px;
  background: #02bcd4;
  color: #fff;
  font-weight: 300;
  border-radius: 3px;
  border: none;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
}
.add-review-container .add-button:hover {
  transform: scale(1.05);
  background: #009eb3;
}
.add-review-container .add-button:active {
  transform: scale(1.01);
  background: #0495a8;
}
.add-review-container .add-button:disabled {
  cursor: not-allowed;
  transform: none;
  background: grey;
}
.add-review-container .error {
  color: #ff5722;
  margin-top: 5px;
}
.add-review-container .editor-wrapper {
  width: 80%;
  margin-left: 10%;
  border: 1px solid #ebebeb;
  background-color: #f7f7f7;
}
.add-review-container .rdw-emoji-modal {
  left: -55px;
}
.add-review-container .rdw-link-modal {
  left: -100px;
}
.add-review-container .rdw-image-modal {
  left: -10px;
}
.add-review-container .editor-self {
  padding-left: 10px;
  padding-right: 10px;
}
.add-review-container .field-error {
  border: 2px solid #ff5722;
  color: #ff5722;
}
