.empty-view-container {
  padding: 25px 0 50px 0;
  text-align: center;
}
.empty-view-container .message {
  margin-bottom: 75px;
  font-size: 24px;
}
.empty-view-container .button {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  background: #02bcd4;
  color: #fff;
  font-weight: 300;
  border-radius: 3px;
  border: none;
}
.empty-view-container .button:hover {
  background: #009eb3;
  transform: scale(1.05);
}
.empty-view-container .button:active {
  background: #0495a8;
  transform: scale(1.01);
}

@media (max-width: 400px) {
  .empty-view-container .message {
    font-size: 18px;
  }
}
