<footer>
	<div class="content-padding">
		<div class="footer-content">			
			<p>Copyright &copy; Dmytro Kovalenko ;)</p>

			<div class="social-media-icons">
				<a href="https://www.facebook.com/dmytro.kovalenko.1004" class="footer-facebook"><i class="fa fa-facebook"></i></a>
				<a href="https://www.vk.com/id11545172" class="footer-vk"><i class="fa fa-vk"></i></a>
				<a href="https://www.linkedin.com/in/kovalenkodmytro" class="footer-linkedin"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>

	</div>
</footer>