<nav class="navbar navbar-fixed-top"> 

	<div class="content-padding"> 
		<ul class="nav navbar-nav navbar-right"> 
			<li> 
				<a href="/"> Home </a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Games <i class="fa fa-chevron-down"></i>
				</a>
				<ul class="dropdown-menu"> 
					<% for (var i = 0; i < games.length; i++) { %>
					<li> <a href="/games/<%= games[i].game_number %>" class="episode-link"> <%= games[i].title %> </a></li>
					<% } %>
				</ul>
			</li>
		</ul>
	</div>

</nav>