// TodoChild.scss

.todo-list {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-left: 450px;

  li {
    cursor: pointer;
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 50%;

    &:hover {
      background-color: #e0e0e0;
    }
  }
}
