.header-container {
  height: 55px;
  line-height: 55px;
  background: #00bcd4;
  position: relative;
  border-bottom: 6px solid #0495a8;
}

.header-container .logo {
  text-align: center;
  font-size: 30px;
  font-family: Breathe;
  letter-spacing: 3px;
  color: #ffffff;
  display: block;
}

.header-container .open-nav {
  position: absolute;
  left: 0px;
}

.header-container .only-mobile {
  display: none;
}

.header-container .only-desktop {
  position: absolute;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 800px) {
  .header-container .only-mobile {
    display: block;
  }

  .header-container .only-desktop {
    display: none;
  }
}
