<!DOCTYPE html>
<html lang="en">
<head>

	<% include partials/head.ejs %>

</head>
<body>

	<% include partials/header.ejs %>

	<div id="hero-image">
		<h2 id="hero-title"><%= title %></h2>
	</div>

	<div id="posters-wrapper" class="content-padding clearfix"> 

		<% for (var i = 0; i < games.length; i++) { %>
		<div class="poster"> 
			<a href="/games/<%= games[i].game_number %>">	
				<img src="/images/<%= games[i].poster %>" class="img-responsive">

				<div class="poster-info-overlay">
					<h3> <%= games[i].title  %> </h3>
					<h4> View More <i class="fa fa-arrow-right"></i></h4>
				</div>
			</a>	
		</div>
		<% } %>

	</div>

	<% include partials/footer.ejs %>
	<% include partials/scripts.ejs %>
</body>
</html>