.not-found-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;
  padding-bottom: 100px;
}
.not-found-container .picture {
  height: 500px;
  background-image: url('./image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.not-found-container .text {
  font-size: 72px;
  letter-spacing: 2px;
  margin: 0;
  font-family: Papyrus;
}
.not-found-container .title {
  font-size: 350px;
  margin: -25px 0 -210px 0;
  letter-spacing: 15px;
  font-family: Papyrus;
}
.not-found-container .button {
  font-size: 20px;
  padding: 10px 15px;
  background: #02bcd4;
  color: #fff;
  font-weight: 300;
  border-radius: 3px;
  border: none;
  margin-top: 20px;
  width: 260px;
  align-self: center;
  cursor: pointer;
}
.not-found-container .button:hover {
  background: #009eb3;
  transform: scale(1.05);
}
.not-found-container .button:active {
  background: #0495a8;
  transform: scale(1.01);
}

@media (max-width: 600px) {
  .not-found-container {
    padding-bottom: 50px;
  }

  .not-found-container .picture {
    height: 350px;
  }

  .not-found-container .title {
    font-size: 200px;
    margin-bottom: -125px;
    letter-spacing: 10px;
  }

  .not-found-container .text {
    font-size: 32px;
    letter-spacing: 1px;
  }
}
