.better-clock {
  text-align: center;
  margin-top: 20px; // Adjust the margin as needed
  font-family: 'Arial', sans-serif; // Change the font-family as needed

  &__time {
    border: 2px dashed red;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 42px;
    color: #333; // Customize the text color
    // Add any additional styling for the time here
  }
}
