.button-show-hide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .toggle-button {
    margin-top: 20px; // Adjust the margin to move the button down
  }

  &.hide {
    .toggle-button {
      margin-top: 0; // Adjust the margin when the clocks are hidden
    }
  }
}

.hidden-message {
  margin-top: 20px; // Adjust the margin for the hidden message
}
