.food-list {
  width: 100%;
  border-collapse: collapse;
}

.food-list td,
.food-list th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.food-list th {
  background-color: #f2f2f2;
}
